name: "create-webapp-artifacts"
permissions:
  actions: write
  contents: write
on:
  workflow_call:
    inputs:
      projectfile:
        required: true
        type: string  
      outputfolder:
        required: true
        type: string

  workflow_dispatch:
    inputs:
      projectfile:
        required: true
        type: string  
      outputfolder:
        required: true
        type: string
jobs:
  build:
      
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with: 
          fetch-depth: 0

      - name: Install GitVersion 
        uses: gittools/actions/gitversion/setup@v0.10.2
        with: 
          versionSpec: '5.x'

      - name: Determine Version 
        id: gitversion 
        uses: gittools/actions/gitversion/execute@v0.10.2

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: 6.0.x

      - name: Build with dotnet
        run: dotnet build ${{inputs.projectfile}} --configuration Release

      - name: dotnet publish
        run: dotnet publish ${{inputs.projectfile}} -c Release -property:PublishDir=${{GitHub.env.DOTNET_ROOT}}${{inputs.outputfolder}}
       

     


